body{
    /* color: #FAF7F0; */

}

#title{
    /* background-color: #000000; */
    
}

.trace-logo {
    height: 50%;
    width: 75%; 
}

img {
    height: 25%;
    width: 37%;
}



/* Container Fluid */
.container-fluid{
    padding: 0%;
}

.intro{
    /* padding-top: 2rem; */
}

.main-title{
    padding: 7% 15%;
    text-align: center;
    background-color: #000000;
    color: #FAF7F0;
}


/* Navbar */
.navbar{
    padding-top: 2% 3%;
}

.btn-div{
    padding-top: 1.8rem;
}

/* About Trace */
.display-1{
    color: #31E1F7;
}

#about{
    background-color: #1B2430;
    color: #FAF7F0;
    text-align: center;
    /* padding-top: 3%; */
    padding: 6% 10%;
}

.content{
    margin: 40px;
}

#card-rounds{
    background-color: #51557E;
}

.card{
    gap: 1.5rem;

}

/* Prizes */
.prizes-container{
    background-color: #1B2430;
    text-align: center;
    padding: 6% 10%;
}

#prizes{
    background-color: #1B2430;
    color: #fff;
}

h3{
    font-weight: bold;
}

footer {
    background-color: #152438;
    color: white;
    text-align: center;
}

.card-text {
    padding: 20px 20px 20px 20px;
}

.rules-content {
    background-color: #1B2430;
    text-align: center;
    padding: 6% 10%;
    color: antiquewhite;
}

.venue-content {
    background-color: #1B2430;
    text-align: center;
    padding: 6% 10%;
    color: antiquewhite;
}

.shedule-content {
    background-color: #1B2430;
    text-align: center;
    padding: 6% 10%;
    color: antiquewhite;
}

.contact-us-content {
    background-color: #1B2430;
    text-align: center;
    padding: 6% 10%;
    color: antiquewhite;
}

.register-box {
    background-color: #1B2430;
    text-align: center;
    padding: 6% 10%;
    color: antiquewhite;
}

.borderBox {
    border: 3px solid #FD841F;
    border-radius: 3rem;
    padding: 6rem;
}

.traceDes {
    color: #31E1F7;
}

footer{
    background-color: #FD841F;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}



@media (max-width: 762px){
    .trace-logo{
        width: 110%;
    }

    .intro{
        padding-top: 4rem;
    }

    .card-deck{
        display: flex;
        flex-direction: column;
        width: 80%;
      }

      .container{
        padding: 10%;
      }
}
