body{
    /* color: #FAF7F0; */

}

#title{
    /* background-color: #000000; */
    
}

.trace-logo {
    height: 50%;
    width: 75%; 
}

img {
    height: 25%;
    width: 37%;
    
}



/* Container Fluid */
.container-fluid{
    padding: 0%;
    background-color: black;
}

.intro{
    /* padding-top: 2rem; */
}

.main-title{
    padding: 7% 15%;
    text-align: center;
    background-color: #000000;
    color: #FAF7F0;
}


/* Navbar */
.navbar{
    padding-top: 2% 3%;
}

.btn-div{
    padding-top: 1.8rem;
}

/* About Trace */
.display-1{
    color: #31E1F7;
}

#about{
    background-color: #1B2430;
    color: #FAF7F0;
    text-align: center;
    /* padding-top: 3%; */
    /* padding: 6% 10%; */
}

.about-content{
    padding: 6% 10%;
}

.content{
    margin-top: 35px;
    font-weight: 400;
    font-size: 1.2rem;
}

#card-rounds{
    background-color: #51557E;
}

.card{
    gap: 1.5rem;

}

/* Prizes */
.prizes-container{
    background-color: #1B2430;
    text-align: center;
    padding: 6% 10%;
}

#prizes{
    background-color: #1B2430;
    color: #fff;
}

h3{
    font-weight: bold;
}

footer {
    background-color: #152438;
    color: white;
    text-align: center;
}

.card-text {
    padding: 20px 20px 20px 20px;
}

.rules-content {
    background-color: #1B2430;
    text-align: center;
    padding: 4% 10%;
    color: antiquewhite;
}

.register-text{
    font-size: 1.2rem;
    font-weight: 400;
    gap: 2rem
}

.venue-content {
    background-color: #1B2430;
    text-align: center;
    /* padding: 6% 10%; */
    color: antiquewhite;

    margin: 0 auto;
    max-width: 1400px;
    padding: 0 4rem;
    position: relative;
    /* padding-bottom: 3rem; */
}

#v-pic{
    width: 15%;
}

.shedule-content {
    background-color: #1B2430;
    text-align: center;
    padding: 6% 10%;
    color: antiquewhite;
}

/* Contact us */
.contact-us-content {
    background-color: #1B2430;
    text-align: center;
    padding: 6% 10%;
    color: antiquewhite;
}

.cc{
    margin-bottom: 18px;
}

.register-box {
    background-color: #1B2430;
    text-align: center;
    padding: 6% 10%;
    color: antiquewhite;
}

.borderBox {
    border: 3px solid #FD841F;
    border-radius: 3rem;
    padding: 6rem;
}

/* For org icons  */
.org-icons {
    height: 25%;
    width: 25%;
    gap: 3rem;
}

#org-icon {
    background-color: #1B2430;
    text-align: center;
    padding: 6% 10%;
    color: antiquewhite;
}

.traceDes {
    color: #31E1F7;
}

footer{
    background-color: #FD841F;
    color: black;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}




 /* For countdown (from below) */
 /* .countD {
     color: white;
 } */

 #countDown {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
}

.textStyle {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
}

.borderBox1 {
    background-color: black;
    color: #FAF7F0;
    border: 3px solid #FD841F;
    border-radius: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}




@media (max-width: 762px){
    .trace-logo{
        width: 110%;
    }

    img{
        width: 25%;
    }

    .intro{
        padding-top: 4rem;
    }

    .card-deck{
        display: flex;
        flex-direction: column;
        /* width: 80%; */
        gap: 0.5rem;
      }

      .card-text{
        padding: 20px;
      }

      .card{
        padding: 0px;
        border: 0px;
      }

      .card-body{
        padding: 20px 0px 20px 0px;
      }


      .container{
        padding: 10%;
      }

      /* About */
      .about-content{
        padding: 2rem;
      }

      .content{
        margin-top: 26px;
      }

      /* venue */
      .venue-content{
        padding-bottom:  3rem;
      }

      /* Register */
      .rules-content{
        padding: 2.5rem 1.5rem;
      }

      /* Contact us */
      .borderBox{
        padding: 4rem 2rem;
      }

      .b-logo{
        width: 40%;
      }

      /* Footer */
      footer{
        font-size: 0.8rem;
        padding: 1rem 2rem;
      }
}
